.homepagediv{
    background: #fff;
    height: fit-content;
    width: fit-content;
}

.hpd1{
    background: #fff;
    height: fit-content;
    width: 90%;
    position: relative;
    margin: 10px 10px;
    justify-content: space-between;
}

.hpd1 .hpd1_inner{
    position: relative;
    float: left;
    height: fit-content;
    width: 40%;
    margin-left: 30px;
    margin-top: 50px;
    
}

.hpd1 .hpd1_inner .name{
    color: #2977c9;
    left: 0;
}

.hpd2{
    background: #E5E4E2;
    height: fit-content;
    width: fit-content;
    position: relative;
    margin: 10px 10px;
    justify-content: space-between;
    overflow: hidden;
    
}

.hpd2 .hpd2_inner1{
    position: relative;
    /* display: flex; */
    float: left;
    height: fit-content;
    width: 40%;
    margin-left: 30px;
    margin-top: 50px;
    justify-content: space-between;
    
}
.hpd2 .hpd2_inner1 img{
    height: 300px;
    width: 500px;
}
.hpd2 .hpd2_inner1 h2{
    color: #2977c9;
}

.hpd2 .hpd2_inner2{
    position: relative;
    /* display: flex; */
    float: left;
    height: fit-content;
    width: 40%;
    margin-left: 60px;
    margin-top: 50px;
    justify-content: space-between;
    
}